@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(10% 0.01 285.82);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(10% 0.01 285.82);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(10% 0.01 285.82);
  --color-primary: oklch(10% 0.01 285.82);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(96% 0 0);
  --color-secondary-foreground: oklch(10% 0.01 285.82);
  --color-muted: oklch(96% 0 0);
  --color-muted-foreground: oklch(46% 0.01 285.82);
  --color-accent: oklch(96% 0 0);
  --color-accent-foreground: oklch(10% 0.01 285.82);
  --color-destructive: oklch(60% 0.2 25);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(90% 0 0);
  --color-input: oklch(90% 0 0);
  --color-ring: oklch(10% 0.01 285.82);
  --color-chart-1: oklch(61% 0.2 25);
  --color-chart-2: oklch(39% 0.15 173);
  --color-chart-3: oklch(24% 0.12 197);
  --color-chart-4: oklch(66% 0.18 43);
  --color-chart-5: oklch(67% 0.25 27);
  --radius-lg: 0.5rem;
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-sm: calc(var(--radius-lg) - 4px);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(4% 0 0);
    --color-foreground: oklch(98% 0 0);
    --color-card: oklch(4% 0 0);
    --color-card-foreground: oklch(98% 0 0);
    --color-popover: oklch(4% 0 0);
    --color-popover-foreground: oklch(98% 0 0);
    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(6% 0 0);
    --color-secondary: oklch(16% 0 0);
    --color-secondary-foreground: oklch(98% 0 0);
    --color-muted: oklch(16% 0 0);
    --color-muted-foreground: oklch(65% 0 0);
    --color-accent: oklch(16% 0 0);
    --color-accent-foreground: oklch(98% 0 0);
    --color-destructive: oklch(31% 0.15 25);
    --color-destructive-foreground: oklch(98% 0 0);
    --color-border: oklch(16% 0 0);
    --color-input: oklch(16% 0 0);
    --color-ring: oklch(84% 0.01 285.82);
    --color-chart-1: oklch(50% 0.2 220);
    --color-chart-2: oklch(45% 0.15 160);
    --color-chart-3: oklch(55% 0.2 30);
    --color-chart-4: oklch(60% 0.15 280);
    --color-chart-5: oklch(55% 0.25 340);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
